USE [master]
GO
/****** Object:  Database [EntityFrameWork]    Script Date: 21/11/2016 1:14:04 م ******/
CREATE DATABASE [EntityFrameWork] ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EntityFrameWork].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EntityFrameWork]
GO
USE [EntityFrameWork]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 21/11/2016 1:14:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Name] [nvarchar](100) NULL,
	[Emp_ID] [nvarchar](50) NULL,
	[Gender_ID] [int] NULL,
	[Emp_BirthDay] [datetime] NULL,
	[Emp_Phone] [nvarchar](10) NULL,
	[Emp_Salary] [decimal](19, 4) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genders]    Script Date: 21/11/2016 1:14:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gender1] [nvarchar](5) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_FK_Employee_Gender]    Script Date: 21/11/2016 1:14:05 م ******/
CREATE NONCLUSTERED INDEX [IX_FK_Employee_Gender] ON [dbo].[Employees]
(
	[Gender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Gender] FOREIGN KEY([Gender_ID])
REFERENCES [dbo].[Genders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employee_Gender]
GO
USE [master]
GO
